package controller

import (
	"github.com/gin-gonic/gin"
	"net/http"
	"github.com/rushairer/gouno"
)

type %sController struct {
}

func New%sController() *%sController {
	return &%sController{}
}

func (c *%sController) Foo(ctx *gin.Context) {
	ctx.JSON(http.StatusOK, gouno.NewSuccessResponse("bar"))
}